<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/7d289de555.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>



 <div class="container" style="text-align: center">



 <nav class="navbar navbar-light bg-light">
        <div style=" width:100%;display: flex; flex-direction: row; justify-content: space-around">
            <div style="font-size: 20px; font-weight: bolder" class="nav-link">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ user.first_name.title }}
                    {{ user.last_name.title  }}
                </div>

            </div>

             <div class="nav-link">
                <div style="font-weight: bolder; font-size: 18px">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    total hours: {{ total_hours }}

                </div>
            </div>
            {% if user.is_staff %}
            <div class="nav-link"><a class="btn btn-outline-dark btn-sm" href="/admin">Panel</a></div>
                {% if request.path == "/summary" %}
                    <div class="nav-link"><a class="btn btn-outline-dark btn-sm" href="/">Back</a></div>
                {% else %}
                    <div class="nav-link"><a class="btn btn-outline-dark btn-sm" href="/summary">Summary</a></div>
                {% endif %}
            {% endif %}
            <div class="nav-link"><a class="btn btn-outline-dark btn-sm" href="/accounts/logout">Logout</a></div>
        </div>

</nav>


{% block content %}

{% endblock %}

</div>
</body>
</html>

<style>
 body {
        display: flex;
        flex: 1;
        background: linear-gradient(90deg,#bdc3c7, #ecf0f1 );
    }
</style>