{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="checkin_form">
             <form method="POST">{% csrf_token %}
                 {% if working %}
                <select name="sel">
                     {% for p,h in my_projects.items %}

                        <option name="proj" value="{{ p.pk }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
                 {% else %}
                    <h4>Currently working on {{ project.project.name }}</h4>
                    <h4>Started {{ project.start}}</h4>
                 {% endif %}

                 <input type="submit" class="btn btn-warning" value="{{ value }}" />
             </form>
         </div>
    <div class="row" id="data">
        <div class="col-md-3">
            <table class="table table-bordered" style="background-color: white">
                <thead>
                    <tr>
                        <td colspan="2">Projects: {{ projects_count }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for p,h in my_projects.items %}
                        <tr>
                            <td>{{ p }}</td>
                            <td>{{ h }} hours</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
        </div>

        <div style="height: 30em; overflow-y: scroll; width: 100%">
        <table class="table table-hover table-sm" style="background-color: white;">
            <thead>
                <tr>
                   <td>My work</td>
                   <td>Project</td>
                   <td>Start</td>
                   <td>Stop</td>
                   <td>Hours</td>
                </tr>
            </thead>
            <tbody>
                {% for c in my_checkins %}
                    {% if not c.is_active %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.project }}</td>
                        <td>{{ c.start }}</td>
                        <td>{{ c.stop }}</td>
                        <td>{{ c.total_hours }}</td>
                    </tr>
                    {% else %}
                         <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.project }}</td>
                        <td>{{ c.start }}</td>
                        <td colspan="2">In Progress</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>



<style>

    #data {
        margin-top: 3em;
    }



    select {
        width: 50%;
    }

    input {
        width: 50%;
        margin-top: 2em;
    }

    .checkin_form {
        margin-top: 10%;
    }

    .checkin_form label{
        display: none;
    }

    .checkin_form select{
        background: white;
        border: 1px solid #2c3e50;
        padding: .5em;
    }
</style>
{% endblock %}